name: pawadopt_app
description: Soft-UI pet adoption and care Flutter app (peach theme) with AR/EN localization, animations, bottom navigation, onboarding stories, auth, catalog, comparisons, and settings.
publish_to: 'none'
version: 1.0.0+1
environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.1.0
  shared_preferences: ^2.2.2
  iconly: ^1.0.1
  flutter_animate: ^4.5.0
  flutter_localizations:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
